body{
    font-family: 'Montserrat', sans-serif;
}


h1{
    text-align: center;
    font-size: 50px;

}
p{
    font-size: 13px;
    font-weight: 300;
}

h2{
    font-size: 20px;
}

li{
    font-size: 13px;
}

h3{
    font-size: 20px;
    display:block;
  
}

h4{
    font-size: 20px;
}

h5{
    font-size: 20px;
}
.container{
    width: 1220px;
    margin: auto;
}